#header {
    background-color: var(--terinary-color);
    display: flex;
    justify-content: space-between; /* Logo aur Nav ko corners par fenkne ke liye */
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0 20px;
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header-content {
    display: contents; /* Parent #header ki flex properties use karne ke liye */
}
.logo {
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.menu-icon {
    display: none; /* Mobile view ke liye */
    font-size: 1.5rem;
    color: var(--secondary-color);
    cursor: pointer;
}
@media(max-width: 768px) {
    .menu-icon {
        display: block; /* Mobile view me menu icon dikhane ke liye */
    }
        .nav {
        display: none;
        flex-direction: column;
        width: 200px;
        padding: 10px;
        position: absolute;
        right: 0;
        top: 60px;
        border-radius: 6px;
        background-color:  var(--primary-color);
        z-index: 1000;
        
    }
    .nav.active{
        display: flex;  
    }
    .nav.active ul {
        flex-direction: column;
    }
}
nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
nav ul {
    display: flex; 
    list-style: none; 
    gap: 20px;

}
nav ul a {
    text-decoration: none;
    color: var(--secondary-color);
}
.thankyou {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    padding: 2rem;
    color: var(--secondary-color);
    
}
.thankyou a{
    font-weight: bold;
    color: #d14420;
}

 .footer{
    background-color: var(--terinary-color);
    text-align: center;
    width: 100%;
    height: 100px;
    padding: 1rem;
    margin-top:auto;
    color: var(--secondary-color);
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 1000;
 }
 .policy{
    padding: 10px;
    font-size: 1rem;
 }
 