<div class="header-content">
    <div class="logo">TASKIFY CAREERS</div>
    <div class="menu-icon" id="menuIcon">☰</div>
    <nav class="nav"   id="navLinks">
        <ul >
           <li> <a href="../index.html">Home</a></li>
           <li><a href="../pages/careers.html">Careers</a></li>
           <li> <a href="../pages/faq.html">FAQ</a></li>
           <li> <a href="../pages/help.html">Help</a></li>
        </ul>
      <img src="../assets/moon.png" alt="Dark Mode" id="icon">
    </nav>
</div>

            
           
           